.in{
    display:inline-block;
    width: 90px;
    height: 90px;
    max-width: 250px;
    max-height: 250px;
    font-size: 60px;
    border: 1px solid black;
}
.box{
    justify-content: center;
    display: flex;

}
div{
    text-align: center;
    font-size: 60px;
    
}
table{
    margin: auto;

}
