
 #pic{
     width: 250px;
     height: 250px;
     padding-bottom: 100px;
 }
 body{
    background-color: black;
    font-size: x-large;
    
}
#links{
    
    display: flex;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    justify-content:end;
}
.linkBar{
    
    display: block;
    
    width: 100px;
    height: 50px;
    
    text-align: center;
    color: white;
    
    

}
.border1{  
    
    border: 5px double white;
    border-radius: 25%;
    color:white;
    width: 400px;
    height: 200px;
    text-align: center;
    /* margin-top: 50px; */
    padding: 50px;

}
#send{
    background-color: white;
    color: white;    
    width: 100px;
    font-size: x-large;
}
H1{
    color: white;
    text-align: center;
}

#dificult{
    width: 300px;
    text-align: center;
    font-size: x-large;
    direction: rtl;
}
#gameDiv{
    display: none;
    border: 5px double white;
    border-radius: 25%;
    color:white;
    text-align: center;
    margin-top: 75px;
    padding: 20px;
    width: 400px;
}
.size{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid white;
    color: black;
    text-align: center;
    margin: 0px;
    border: 1px solid black;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

#border2{
    display: none;
}

#border3{
    display: none;
}

#border4{
    display: none;
}

#levelsDiv{
    display: none;
}
#h1 {
    display: none;
}
#h2 {
    display: none;
}
#h3 {
    display: none;
}
#h4 {
    display: none;
}
.squ{
    display: inline-block;
    border: 2px double black;
    margin: 0px;
    background-color: white;
}
p{
    margin: 0px;
    
}
/* #cPassword1{

} */
#cPassword1{
    display: none;
}
#cPassword{
    display: none;
}
#reg{
    display: none;
}
.butLogin{
    align-items: center;
}
